# Ignore OS Files
.DS_Store
junk*

# Ignore Node Modules
node_modules/*

# Ignore Bower Components
bower_components/*

# Ignore Working & Distribution Folders
.sass-cache/*
.tmp/*
dist/*

# Ignore IDE project files
.idea/
*.sublime-project
*.sublime-workspace

# Ignore any log files
*.log
