<div class="container-fluid well content" ng-controller="MainController as main">
  <form class="form-horizontal">
    <div class="form-group">
      <label for="inputSearch" class="col-sm-2 control-label">Search</label>
      <div class="col-sm-10">
        <input type="search" class="form-control" id="inputSearch" placeholder="Search" ng-model="main.searchTerm">
      </div>
    </div>
    <div class="form-group">
      <label for="inputResults" class="col-sm-2 control-label">Results</label>
      <div class="col-sm-10">
        <textarea class="form-control search-results" id="inputResults" rows="15" ng-model="main.items" placeholder="Results"></textarea>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button class="btn btn-primary pull-right" ng-click="main.search()">Search Recipes</button>
      </div>
    </div>
  </form>
</div>

